<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
    </head>
    <body>
        <form action='store_data'>
                   <input type="text" name="trynowbitch" placeholder="name" minlength="4" maxlength="32">
                   <input type="submit" value="enter">
        </form>
        
        <button id="id1" ><a href="registration">Job Seeker</a></button>
    </body>
</html>
