<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="login" method="POST">
        {% csrf_token %}
    <label for="username">Username</label>
        <input type="text" id="pass" name="username" placeholder="Username" minlength="1" required>   
    <label for="Password">Password</label>
        <input type="password" id="pass" name="pw" placeholder="password" minlength="1" required>
        <button>Login</a></button>
    </form>
</body>
</html>